.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: aqua;
    text-align: center;
    font-family: "Anton", sans-serif;
    margin: auto 300px;
    
      }
      
   
#main-img {
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.learn-btn {
    background-color: #04AA6D; 
    border: rgb(235, 135, 160), 135, 135);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: blue;
    display: inline-block;
    font-size: 20px;
}

   